@charset "utf-8";

*{
	font-family:Georgia,"Times New Roman",times,serif;
}


html, body{

	background-color:#CCE8F5;
	min-width:100vw;
}

#container{
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;


}

/*
#prompted{

	
	-webkit-text-stroke:0.7px #000000 ;
	color: #08BB11;
	text-shadow:2.5px 1px black ;
	font-size:25px;

}*/

center{

	-webkit-text-stroke:1px #000000 ;
    -webkit-background-clip:text;
    color:transparent;
    background-clip:text;
    background-image:linear-gradient(#0F00FF,#E5FF43);
	font-size:34px;

}


#btnx{
	background:linear-gradient(#90B3DC,#217AE4);
}
/*
#btny{
	background:linear-gradient(#F49191,#D51A1A);

}
*/
button{
	padding:25px;
	font-size:28px;
	cursor:pointer;
	border:none;
	border-radius:2px;
	width:150px;
}

button:hover{

	webkit-text-stroke:1px #F3FF00#;
	color:orange;
	text-shadow:2px 2px black;

}

#btnx:hover{
		box-shadow:3px 3px #144C8E;
}/*
#btny:hover{
	box-shadow:3px 3px #7E1111;
}*/

#buttons{

	display:flex;
	flex-direction:row;
	width:100%;
	justify-content:center;
	gap:20px;
	margin-top:20px;

}
