@charset "utf-8";



html, body{

	min-width:100vw;
	margin:0;
	background-color:#CAE2F5;
}

main{

	display:flex;
	justify-content:center;
}

#center{

	display:flex;
	flex-direction:column;
	min-height:75vh;
	background-color:#F1F0C8;
	padding:30px;
	border:2px solid blue;
	border-style:ridge;
	box-shadow:2px 2px;
	align-items:center;

}

#genders{

	padding:5px;
	border:1px solid black;
	box-shadow:1px 1px;
	border-style:double;
	background-color:white;

}

input{
	box-shadow:0.5px 1px;
}

label{

	font-weight:bold;

}

input{
	text-align:center;
}

input:focus, select:focus{
	outline:0.5px solid black;
}












