<!DOCTYPE html>
	<html>
	 <head>
	 <meta charset = "utf-8">
	 <link rel = "stylesheet" href = "css/styles.css">
	 <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	</head>	 
	 <title>An interesting form!</title>
	 
<body>
		<marquee><h1>Form Submission</h1></marquee>
	<main>




      <div id= "center">
		<label>First Name</label> <input type= "text" id= "t1">
		<br><label>Last Name</label> <input type= "text" id= "t2">
		
		<br>
		<label>Gender</label>
		<br>
	
		<div id = "genders"> Male<input type= "radio" id= "r1" name= "gnd">
        Female<input type= "radio" id= "r2" name= "gnd">
    </div>
		<br><label>Birthday</label><input type= "date" id= "d">

       <br> <label>Email</label><input type= "text" id= "t3" placeholder= "example@yahoo.com"> 	
	   <br> <label>Phone Number</label> <input type= "text" id= "t4" placeholder= "(+Country Code)1234-5678">
	   <br> <label>ID</label> <input type= "text" id= "t5" placeholder= "XXX-XX-XXXX">

		<br><select id= "sel">
		 <option value="" disable selected hidden>Choose a career...</option>
		 <option value= "System Engineering">System Engineer</option>
		 <option value= "Accounting">Accounting</option>
		 <option value= "Attorney">Lawyer</option>
		 <option value= "Technician">Technician</option>
		 <option value= "Electric Engineering">Electric Engineering</option>
		 <option value= "Pastry Chef">Pastry Chef</option>
		 </select>

<br>
<button type= "button">Submit!</button>
		 </div>


	</main>
	
 <footer></footer>
 
 </body>
 </html> 
